$light-color: #f4f4f4; // H1 Text Color

// Custom Colors
$cusprimary-color: #EBE8E7;
$cussecondary-color: #F2C76E;
$custertiary-color: #EA7186;
$custext-color: #7A77B9;
$cuslighttext-color: #BD9DEA;

